.slider__next-button {
  margin: 0;
  padding: 0;
  align-self: center;
  min-width: 50px;
  min-height: 50px;
  background-image: url('../../../images/feedback-slider-arrow-next.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  border: none;
  /* align-self: center;
  border: none;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 50px;
  border-radius: 0 60px 60px 0;
  border: 1px solid #242424;
  border-left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  cursor: pointer; */
}

