.footer__coopyright {
  margin: 0;
  padding: 0 32px 0 0;
  text-decoration: none;
  font-family: 'FormularLight';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 121%;
  color: #242424;

}

.footer__coopyright:last-child {
  padding: 0;
  text-decoration: 1px solid #242424;
}

@media screen and (max-width: 900px) {
  .footer__coopyright{
    grid-column: 1/3;
    margin: 0 0 10px;
  }
}