.footer__coopyright {
  margin: 0;
  text-decoration: none;
  font-family: 'FormularLight', 'sans-serif', 'arial';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 121%;
  color: #242424;
  cursor: pointer;
}

.footer__coopyright:hover {
  text-decoration: underline;
}

@media screen and (max-width: 414px) {
  .footer__coopyright {
    grid-column: 1/3;
  }
}
