.header__social-decor {
  border-left: 1px solid #232323;
  border-right: 1px solid #232323;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  max-width: 257px;
  padding: 0 26px 0 24px;
}

@media screen and (max-width: 1080px) {
  .header__social-decor {
    padding: 0 3px 0 3px;
  }
}

@media screen and (max-width: 900px) {
  .header__social-decor {
    display: none;
  }
}
