.footer__copyright-text {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 0 32px 0 0;
  margin: 0;
  font-family: 'FormularLight', 'sans-serif', 'arial';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 121%;
  color: #242424;
}

.footer__copyright-text:last-child {
  padding: 0;
  display: inline;
}
