.header__menu {
  display: flex;
  justify-content: space-between;
  max-width: 946px;
  padding-left: 35px;
  padding-right: 31px;
  gap: 28px;
  box-sizing: border-box;
}

@media screen and (max-width: 1439px) {
  .header__menu {
    gap: 12px;
    padding-left: 13px;
    padding-right: 9px;
  }
}

@media screen and (max-width: 1279px) {
  .header__menu {
    gap: 5px;
    padding-left: 8px;
  }
}

@media screen and (max-width: 900px) {
  .header__menu {
    display: none;
  }
}
