.description-block__text {
  margin: 20px 0;
  font-family: 'FormularLight', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  font-feature-settings: 'ss01' on;
}

.description-block__text:last-child {
  margin: 0;
}

@media screen and (max-width: 413px) {
  .description-block__text {
    font-size: 15px;
  }
}
