.card__readmore {
  display: flex;
  align-items: center;
  margin: 0;
  font-family: 'FormularLight', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: .76;
  text-transform: uppercase;
  cursor: pointer;
  border-left: 1px solid #242424;
  border-bottom: 1px solid #242424;
  border-top: 0;
  border-right: 0;
  background: linear-gradient(to left, transparent 50%, #242424 50%) right;
  background-size: 300%;
  transition: 1s;
  box-shadow: 0 0 0 0;
}

.card__readmore:active, button:focus {
  box-shadow: 0 0 0 4px #242424;
  background: #242424;
  color: #ECEBE8;
  fill: #ECEBE8;
}

.card__readmore::-moz-focus-inner {
  border: 0;
}

.card__readmore:hover {
  background-position: left;
  color: #ECEBE8;
  transition: 0.8s;
}

.card__readmore:hover .card__readmore-arrow {
  background-position: right;
  fill: #ECEBE8;
  transition: 0s;
}
