.card__readmore {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 8px 0px 0px;
  box-sizing: border-box;
  width: 210px;
  height: 32px;
  font-family: 'FormularLight';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: .76;
  text-transform: uppercase;
  background-color: transparent;
}

.card__readmore:active{
  transform: scale(1.2);
}
