.card__readmore {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 8px 0px 0px;
  box-sizing: border-box;
  width: 210px;
  height: 32px;
  font-family: 'FormularLight';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: .76;
  text-transform: uppercase;
  background-color: transparent;
}

.card__readmore:focus, .card__readmore:active {
  box-shadow: 0 0 0 6px #242424;
  border: none;
  border-style: none;
  outline:none;
  border: 0;
  transition: .2s ease;
  background: #242424;
}
