.reviews__prev-button {
  margin: 0 10px 0 0;
  padding: 0;
  width: 52px;
  height: 52px;
  position: relative;
  cursor: pointer;
  border: none;
  background: transparent;
}

.reviews__prev-button:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 50px;
  border: 1px solid #242424;
  border-right: none;
  border-radius: 26px 0 0 26px;
}

.reviews__prev-button:hover:after {
  display: none;
}
