.header__social {
  max-width: 257px;
  border-left: 1px solid #232323;
  border-right: 1px solid #232323;
  height: 100%;
  box-sizing: border-box;
  padding: 0 16px 0 18px;
}

@media screen and (max-width: 1439px) {
  .header__social {
    padding: 0;
  }
}

@media screen and (max-width: 900px) {
  .header__social {
    display: none;
  }
}
