.header__social{
  display: flex;
  justify-content: space-around;
  width: 257px;
  align-items: center;
  border-left: 1px solid #232323;
  border-right: 1px solid #232323;
  height: 70%;
  box-sizing: border-box;
}