.header__social {
  display: flex;
  justify-content: space-around;
  max-width: 257px;
  align-items: center;
  border-left: 1px solid #232323;
  border-right: 1px solid #232323;
  height: 100%;
  box-sizing: border-box;
  gap: 16px;
  padding: 0 26px 0 24px;
}

@media screen and (max-width: 1439px) {
  .header__social {
    padding: 0 16px 0 16px;
    gap: 8px;
  }
}

@media screen and (max-width: 900px) {
  .header__social {
    display: none;
  }
}
