@keyframes arrowClick {
  from {
    transform: scale(1.0);
  }

  to {
    transform: scale(1.1);
  }
}

@keyframes arrowLeftRotate {
  from {
    clip: rect(0px, 48px, 24px, 48px);
  }

  to {
    clip: rect(0px, 48px, 24px, 0px)
  }
}

.feedback__prev-button {
  width: 50px;
  min-width: 50px;
  height: 50px;
  position: relative;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  background-image: url(../../../images/links__arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(180deg);
}

.feedback__prev-button:before {
  position: absolute;
  top: 0;
  left: 25px;
  display: block;
  content: '';
  border: 1px solid #242424;
  border-left: none;
  border-radius: 50px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  background-color: transparent;
  width: 24px;
  height: 48px;
}

.feedback__prev-button::after {
  position: absolute;
  top: 0;
  left: 25px;
  display: block;
  content: '';
  border: 1px solid #242424;
  border-left: none;
  border-radius: 50px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  background-color: transparent;
  width: 24px;
  height: 48px;
  transform-origin: center left;
}

.feedback__prev-button:hover {
  background-color: #dbdbdb;
  filter: invert(100%);
  transition: filter 0.18s 0.1s ease-out, background-color 0.18s 0.1s ease-out;
}

.feedback__prev-button:hover::before {
  filter: invert(100%);
  transition: filter 0.18s 0.1s ease-out;
}

.feedback__prev-button:hover::after {
  transform: rotate(-180deg);
  filter: invert(100%);
  transition: transform 0.18s, filter 0.18s 0.1s ease-out;
}

.feedback__prev-button:active::before {
  animation: reviews-button-animation 0.3s forwards;
}

@media screen and (max-width: 1024px) {
  .feedback__prev-button:active::before {
    animation: none;
  }
}

.feedback__prev-button:active {
  animation: .2s ease-in 2 alternate arrowClick;
}
