.header {
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ecebe8;
  height: 62px;
  border-bottom: 1px solid #232323;
  box-sizing: border-box;
}

@media screen and (max-width: 900px) {
  .header {
    border: none;
    justify-content: space-evenly;
  }
}
