.header__support-link {
  font-family: "FormularLight", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  text-decoration: none;
  text-transform: uppercase;
  color: #242424;
}

@media screen and (max-width: 1025px){
  .header__support-link{
    font-size: 12px;
  }
}

