.header__link {
  white-space: nowrap;
  position: relative;
  font-family: 'FormularLight', 'Arial', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5;
  color: #242424;
  cursor: pointer;
}

.header__link:hover:before {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  content: '';
  border: 1px solid #242424;
  border-left: none;
  border-radius: 50px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  background-color: transparent;
  width: 11px;
  height: 100%;
}

.header__link:hover:after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: '';
  border: 1px solid #242424;
  border-right: none;
  border-radius: 50px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  background-color: transparent;
  width: 11px;
  height: 100%;
}
