.links__link {
  cursor: pointer;
  max-width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #242424;
  border-bottom: 1px solid #242424;
  text-decoration: none;
  color: #242424;
 
  transition: .8s ease;  
}

.links__link:hover, .links__link:hover .links__text, .links__link:hover .links__arrow   {
  
  color: #ECEBE8;
  fill: #ECEBE8;
    
}



