.links__link {
  background-color: transparent;
  margin-right: 8px;
  border-left: 1px solid #242424;
  border-bottom: 1px solid #242424;
  background: linear-gradient(to left, transparent 50%, #242424 50%) right;
  background-size: 300%;
  transition: .8s ease;
}

.links__link:last-child {
  margin-right: 0;
  max-width: 62px;
}

@media (max-width: 900px) {
  .links__link {
    margin-right: 9px;
  }
}

.links__link:hover {
  background-position: left;
  color: #ECEBE8;
}

.links__link:hover .links__text {
  background-position: left;
  color: #ECEBE8;
  transition: 1s cubic-bezier(0, 1, .59, .84);
  -webkit-transition: all 1s cubic-bezier(0, 1, .59, .84);
  -moz-transition: all 1s cubic-bezier(0, 1, .59, .84);
}

.links__link:hover .links__arrow {
  background-position: left;
  fill: #ECEBE8;
  transition: 1s cubic-bezier(0, 1, .59, .84);
  -webkit-transition: all 1s cubic-bezier(0, 1, .59, .84);
  -moz-transition: all 1s cubic-bezier(0, 1, .59, .84);
}
