.footer__partners-logo {
  max-height: 34px;
  padding-right: 31px;
  transition: opacity .2s ease;
}

@media (max-width: 900px) {
  .footer__partners-logo {
    padding-right: 15px;
  }
}

.footer__partners-logo:last-child {
  padding-right: 0;
}
