.main-info__text {
  font-family: 'PPNeueMachina', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.01em;
  max-width: 352px;
  justify-self: flex-end;
  align-self: start;
  margin-top: 27px;
}

@media screen and (max-width: 904px) {
  .main-info__text{
    max-width: 304px;
    justify-self: center;
    align-self: center;
    margin-left: 263px;
  }
}

@media screen and (max-width: 624px) {
  .main-info__text{
    margin: 16px 24px 0;
    justify-self: flex-end;
    align-self: flex-start;
  }
}

@media screen and (max-width: 330px) {
  .main-info__text{
    margin: 16px 0 0 56px;
    font-size: 18px;
  }
}