.feedback__pagination {
  align-self: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px;
  transition: .3s opacity;
  transform: translate3d(0, 0, 0);
}

@media screen and (max-width: 768px) {
  .feedback__pagination {
    margin-right: 0;
    justify-content: flex-start;
    position: absolute;
    z-index: 1;
    bottom: -68px;
    left: 30px;
  }
}
