.feedback__pagination {
  position: relative;
}

.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background-color: transparent;
  border: 1px solid #242424;
  opacity: 1;
  box-sizing: border-box;
}

.swiper-pagination-bullet-active {
  width: 8px;
  height: 8px;
  background: #242424;
}
