.links__buttons {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin: -95px 0 0 583px;
}

@media screen and (max-width: 900px) {
  .links__buttons {
    margin: -112px 0 0 27px;
  }
}
