.gallery__title {
  margin: 0 auto;
  padding: 0;
  max-width: 568px;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #242424;
}

@media (max-width: 414px) {
  .gallery__title {
    margin: 0 0 0 24px;
    max-width: 369px;
    font-size: 28px;
    line-height: 114%;
  }
}
