.links__container {
  text-decoration: none;
  max-height: 26px;
  max-width: 53px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links__container:last-child {
  max-width: 62px;
}
