.description-block__card-download {
  padding: 0 16px;
  margin: 0;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  font-family: 'FormularLight', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.37;
  background-color: transparent;
  border-top: 1px solid #242424;
  background: linear-gradient(to left, transparent 50%, #242424 50%) right;
  background-size: 200%;
  transition: 0.8s;
}


.description-block__card-download:hover {
  background-color: #242424;
  color: #fff;
  cursor: pointer;
  background-position: left;
}
