.footer__address-second {
  margin: 0;
  padding: 16px 0 0 0;
  max-width: 231px;
  font-family: 'FormularLight';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 121%;
  color: #242424;
}