.feedback__slide {
  min-height: 360px;
  margin: 0;
  padding: 0;
  flex-shrink: 0;
  transition: .25s;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .feedback__slide {
    min-height: 476px;
  }
}
