.reviews__next-button {
  width: 50px;
  min-width: 50px;
  height: 50px;
  position: relative;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  background-image: url(../../../images/links__arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.reviews__next-button:before {
  position: absolute;
  top: 0;
  left: 25px;
  display: block;
  content: '';
  border: 1px solid #242424;
  border-left: none;
  border-radius: 50px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  background-color: transparent;
  width: 24px;
  height: 48px;
}

.reviews__next-button::after {
  position: absolute;
  top: 0;
  left: 25px;
  display: block;
  content: '';
  border: 1px solid #242424;
  border-left: none;
  border-radius: 50px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  background-color: transparent;
  width: 24px;
  height: 48px;
  transform-origin: center left;
}

.reviews__next-button:hover {
  background-color: #dbdbdb;
  filter: invert(100%);
  transition: filter 0.18s 0.1s ease-out, background-color 0.18s 0.1s ease-out;
}

.reviews__next-button:hover::before {
  filter: invert(100%);
  transition: filter 0.18s 0.1s ease-out;
}

.reviews__next-button:hover::after {
  transform: rotate(180deg);
  filter: invert(100%);
  transition: transform 0.18s, filter 0.18s 0.1s ease-out;
}

.reviews__next-button:active::before {
  animation: reviews-button-animation 0.3s forwards;
}

@media screen and (max-width: 1024px) {
  .reviews__next-button:active::before {
    animation: none;
  }
}
