.header__support-button {
  font-family: 'FormularLight', 'Arial', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  text-decoration: none;
  text-transform: uppercase;
  color: #232323;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  /*gap: 6px;*/
  padding-left: 23px;
  padding-right: 20px;
  height: 62px;
  background: linear-gradient(to left, transparent 50%, #242424 50%) right;
  background-size: 300%;
  transition: 0.8s;
  box-sizing: border-box;
  width: 100%;
}

.header__support-button:hover {
  background-position: left;
  color: #ECEBE8;
  transition: 0.8s;
}

.header__support-button:hover .header__plus {
  background-position: right;
  fill: #ECEBE8;
  transition: 0.4s;
}

@media screen and (max-width: 1439px) {
  .header__support-button {
    flex-basis: auto;
    padding-left: 0;
    padding-right: 0;
    gap: 0;
  }
}

@media screen and (max-width: 1120px) {
  .header__support-button {
    flex-basis: 124px;
    font-size: 10px;
  }
}

@media screen and (max-width: 900px) {
  .header__support-button {
    line-height: 1;
  }
}
