.footer__partners-logos-mobile {
  position: relative;
  padding: 0 0 84px 0;
  margin: 0;
  display: grid;
  justify-items: center;
  grid-template-columns: max-content max-content;
  grid-template-rows: 83px 83px;
  grid-column: 1/3;
  row-gap: 33px;
  list-style: none;
}

.footer__partners-logos-mobile::after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #242424;
}
