.feedback__card {
  margin: 0;
  padding: 55px 90px 70px;
  box-sizing: border-box;
  min-width: 100%;
  transition: box-shadow 0.25s;
  transition-timing-function: ease-in-out;
  background-color: #fff;
}
