.description-block__card-name {
  padding: 24px 0 0 24px;
  margin: 0;
  font-family: 'PPNeueMachina', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.2;
}
