@keyframes arrowClick {
  from {
      transform: scale(1.0);
  }
  to {
      transform: scale(1.1);
  }
}

@keyframes arrowRightRotate {
  from {
      clip: rect(48px, 24px, 48px, 0px);;
  }
  to {
      clip: rect(0px, 24px, 48px, 0px);
  }
}

.feedback__next-button {
  background-color: transparent;
  border: none;
  border-radius: 48px;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
  background-position: center center;
  margin: 4px 23px 0 0;
  padding: 0;
  position: relative;
  cursor: pointer;
  transition: all .2s ease-out .15s;
  flex-shrink: 0;
  background-image: url('../../../images/arrow-right.svg');
}

@media screen and (max-width: 520px) {
  .feedback__next-button {
      margin: 5px 3px 0 21px;
  }
}

.feedback__next-button:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
  height: 48px;
  border: 1px solid black;
  border-radius: 48px;
  box-sizing: border-box;
  transition: border-color .2s ease-out .2s;
  clip: rect(24px, 48px, 48px, 0px);
    transform: rotate(-90deg);
}

.feedback__next-button:hover:before {
  border-color: white;
}

.feedback__next-button:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  border: 1px solid black;
  border-radius: 48px;
  box-sizing: border-box;
  transition: clip 2s ease-out;
  clip: rect(48px, 24px, 48px, 0px);
}

.feedback__next-button:hover {
  background-color: white;
  filter: invert(1);
}

.feedback__next-button:active {
  animation: .2s ease-in 2 alternate arrowClick;
}

.feedback__next-button:hover:after {
  animation: arrowRightRotate .2s ease-out;
}