.feedback__next-button {
  margin: 0 10px;
  padding: 0;
  width: 52px;
  height: 52px;
  position: relative;
  cursor: pointer;
  border: none;
  background: transparent;
}

.feedback__next-button:after {
  content: '';
  position: absolute;
  top: 0;
  left: 26px;
  width: 25px;
  height: 50px;
  border: 1px solid #242424;
  border-left: none;
  border-radius: 0 26px 26px 0;
}

.feedback__next-button:hover:after {
  display: none;
}

